@theme {
  /* --color-primary: #2b4c7e;
  --color-primary-hover: #1f3a5f;
  --color-primary-active: #162a45;

  --color-text: #0f172a;
  --color-muted: #64748b;

  --color-bg: #f8fafc;
  --color-surface: #ffffff;

  --color-border: #e2e8f0;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444; */

  /* Modificamos los fallbacks para que use los del sistema en lugar de Times New Roman */
  --font-sans: 'Satoshi', 'Times New Roman', ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  /* Forzamos font-sans para todo el documento */
  @apply bg-gray-50 font-sans text-gray-600;
}
/* Spinner animation */
.spinner {
  margin: auto;
  width: 40px;
  text-align: center;
}

.spinner > div {
  @apply bg-indigo-400;
  width: 12px;
  height: 12px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
